mulesoft/meditab-fhir-sys-api/src/main/mule/meditab-fhir-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- ============================================================
       COMMUNITY CLINIC FHIR R4 SYSTEM API
       Identical contract to Flagship Hospital — proves API-led interchangeability.
       Same endpoints, same FHIR resources, different EHR config.
       Derived from: src/lib/system-api/meditab.ts
       ============================================================ -->

  <flow name="get-patients" doc:name="GET /patients">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/patients" allowedMethods="GET" doc:name="Listen GET /patients"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/Patient" doc:name="FHIR GET Patient">
      <http:query-params><![CDATA[#[output application/java --- {
        "birthdate": "ge" ++ p('fhir.meditab.patient.birthdate.start'),
        "birthdate": "le" ++ p('fhir.meditab.patient.birthdate.end'),
        "_count": p('fhir.meditab.patient.count'),
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="get-patient-conditions" doc:name="GET /patients/{patientId}/conditions">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/patients/{patientId}/conditions" allowedMethods="GET" doc:name="Listen GET conditions"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/Condition" doc:name="FHIR GET Condition">
      <http:query-params><![CDATA[#[output application/java --- {
        "patient": attributes.uriParams.patientId,
        "_count": "50",
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="search-conditions-by-code" doc:name="GET /conditions?code">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/conditions" allowedMethods="GET" doc:name="Listen GET conditions by code"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/Condition" doc:name="FHIR GET Condition by code">
      <http:query-params><![CDATA[#[output application/java --- {
        "code": attributes.queryParams.code,
        "_count": "50",
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="get-patient-observations" doc:name="GET /patients/{patientId}/observations">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/patients/{patientId}/observations" allowedMethods="GET" doc:name="Listen GET observations"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/Observation" doc:name="FHIR GET Observation">
      <http:query-params><![CDATA[#[output application/java --- {
        "patient": attributes.uriParams.patientId,
        "category": "laboratory",
        "_count": "30",
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="search-observations-by-code" doc:name="GET /observations?code">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/observations" allowedMethods="GET" doc:name="Listen GET observations by code"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/Observation" doc:name="FHIR GET Observation by LOINC">
      <http:query-params><![CDATA[#[output application/java --- {
        "code": "http://loinc.org|" ++ attributes.queryParams.code,
        "_count": "30",
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="get-patient-medications" doc:name="GET /patients/{patientId}/medications">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/patients/{patientId}/medications" allowedMethods="GET" doc:name="Listen GET medications"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/MedicationRequest" doc:name="FHIR GET MedicationRequest">
      <http:query-params><![CDATA[#[output application/java --- {
        "patient": attributes.uriParams.patientId,
        "_count": "30",
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="get-patient-allergies" doc:name="GET /patients/{patientId}/allergies">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/patients/{patientId}/allergies" allowedMethods="GET" doc:name="Listen GET allergies"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/AllergyIntolerance" doc:name="FHIR GET AllergyIntolerance">
      <http:query-params><![CDATA[#[output application/java --- {
        "patient": attributes.uriParams.patientId,
        "_count": "30",
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <flow name="get-metadata" doc:name="GET /metadata">
    <http:listener config-ref="HTTP_Listener_config" path="/api/v1/meditab/metadata" allowedMethods="GET" doc:name="Listen GET metadata"/>
    <http:request config-ref="FHIR_Meditab_Request_config" method="GET" path="/metadata" doc:name="FHIR GET CapabilityStatement">
      <http:query-params><![CDATA[#[output application/java --- {
        "_format": "json"
      }]]]></http:query-params>
    </http:request>
    <error-handler ref="fhir-error-handler"/>
  </flow>

  <error-handler name="fhir-error-handler">
    <on-error-propagate type="HTTP:CONNECTIVITY, HTTP:TIMEOUT">
      <ee:transform doc:name="FHIR OperationOutcome - Connection Error">
        <ee:message>
          <ee:set-payload><![CDATA[#[output application/json --- {
            resourceType: "OperationOutcome",
            issue: [{
              severity: "error",
              code: "exception",
              diagnostics: "Community Clinic FHIR server unreachable: " ++ (error.description default "Connection failed")
            }]
          }]]]></ee:set-payload>
          <ee:set-attributes><![CDATA[#[{httpStatus: 502}]]]></ee:set-attributes>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
    <on-error-propagate type="ANY">
      <ee:transform doc:name="FHIR OperationOutcome - General Error">
        <ee:message>
          <ee:set-payload><![CDATA[#[output application/json --- {
            resourceType: "OperationOutcome",
            issue: [{
              severity: "error",
              code: "exception",
              diagnostics: error.description default "An unexpected error occurred"
            }]
          }]]]></ee:set-payload>
          <ee:set-attributes><![CDATA[#[{httpStatus: 500}]]]></ee:set-attributes>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
  </error-handler>

</mule>
